body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(204, 43%, 93%);
    width: 60%;
    margin: 30px auto;
    font-family: 'Karla', sans-serif;


}

.part1 {

    color: rgb(15, 153, 172);
    font-size: 20px;

}

.part2 {

    color: rgb(224, 224, 35);
    font-size: 20px;
    margin-top: 25px;
}

.part3 {
    color: grey;
    margin-top: 20px;
}

.part4 {}

.youc {
    margin-top: 15px;
    font-size: 20px;

}

.youd {
    font-size: 15px;
}

button {
    border-radius: 1px solid rgb(180, 199, 15);
    background-color: hsl(71, 73%, 54%);
    border-radius: 6px;
    border: none;
    padding: 15px 100px;
    position: relative;
    margin: 0px 100px;
}

.omaima {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "part1  part1"
        "part2  part3";
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.AB {

    background-color: white;
    grid-area: part1;
    padding: 10px;

}

.BB {
    color: white;
    grid-area: part2;
    background-color: hsl(179, 62%, 43%);
    padding: 10px;
}

.CB {
    color: white;
    grid-area: part3;
    background-color: hsl(179, 50%, 62%);
    padding: 10px;
}
@media( max-width:740px){
    .omaima{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "  part1"
        "part2 " 
        "part3";
    width: 100%;    
    }  
    .AB{
        width: 80%;
    } 
    .BB {
        width: 80%;
    }  
    .CB {
        width: 80%;
    }
}